@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

h1 {
  color: #e9d19c;
  font-family: MedievalSharp;
}

body {
  background-color: #191919;
  background-position: center center;
  background-size: cover;
  color: #b4b4b4;
  position: relative;
}
body .background-video {
  height: 100%;
  left: 50%; /* à 50%/50% du parent référent */
  object-fit: cover;
  opacity: 1;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 100%;
  z-index: -1;
}
body .background-image {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
}
body header {
  align-items: center;
  display: flex;
  height: 48px;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  right: 0;
  transition: background-color 0.8s ease;
  z-index: 1;
}
body header .email {
  opacity: 0;
}
body header .header-fog {
  background: linear-gradient(to bottom, #111111 30%, transparent 100%);
  backdrop-filter: blur(2px);
  content: "";
  height: 120px;
  left: 0;
  mask: linear-gradient(180deg, black 60%, rgba(0, 0, 0, 0));
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
body header .off-screen-menu {
  align-items: center;
  background-color: rgba(25, 25, 25, 0.8);
  backdrop-filter: blur(2px);
  border-left: 1px solid #e9d19c;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 90vw;
  position: fixed;
  right: -91vw;
  top: 0;
  transition: 0.3s ease;
  width: 100%;
}
body header .off-screen-menu a {
  font-size: 32px;
}
body header .off-screen-menu.active {
  right: 0;
}
body header .ham-menu {
  background: none;
  border: none;
  height: 40px;
  margin-left: auto;
  position: relative;
  width: 30px;
}
body header .ham-menu span {
  background-color: #eeeeee;
  border-radius: 24px;
  height: 2px;
  left: 50%;
  position: absolute;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  width: 100%;
}
body header .ham-menu span:nth-child(1) {
  top: 25%;
}
body header .ham-menu span:nth-child(3) {
  top: 75%;
}
body header .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
body header .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
body header .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
body header .header-nav {
  display: none;
}
body header.visible::before {
  opacity: 1;
}
body main {
  padding: 0 16px;
}
body main .name-links {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - 80px);
  padding: 72px 40px 50px 40px;
}
body main .name-links .my-story {
  color: #e9d19c;
  display: none;
  font-family: MedievalSharp;
  font-size: 40px;
}
body main .name-links .my-name {
  color: #eeeeee;
  font-size: 60px;
  line-height: 0.9;
  margin-top: auto;
  text-align: center;
}
body main .name-links nav {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
body main .name-links nav a {
  background-color: rgba(34, 34, 34, 0.4);
  border: 1px solid #e9d19c;
  font-size: 24px;
  min-width: 226px;
  position: relative;
  text-align: center;
  transition: 0.3s ease;
}
body main .name-links nav a::before {
  border: 1px solid #e9d19c;
  content: "";
  inset: 0;
  opacity: 0.4;
  margin: -8px;
  position: absolute;
}
body main .name-links nav a:hover {
  box-shadow: rgba(233, 209, 156, 0.4) 0px 0px 56px;
}
body main .scroll-icon {
  border: 1px solid white;
  border-radius: 16px;
  height: 32px;
  margin: 0 auto;
  width: 16px;
}
body main .scroll-icon div {
  animation: scroll 2s infinite;
  background-color: white;
  border-radius: 1px;
  height: 5px;
  margin: 5px auto;
  width: 2px;
}
@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
body main .introduce {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 64px auto;
  max-width: 768px;
  text-align: center;
  position: relative;
}
body main .introduce h1 {
  font-size: clamp(32px, 4vw, 56px);
  margin: 0 auto;
  max-width: 460px;
  padding: 16px 0;
  position: relative;
}
body main .introduce h1::before, body main .introduce h1::after {
  background-color: #e9d19c;
  content: "";
  height: 1px;
  left: 50%;
  margin: 0 auto;
  max-width: 200px;
  position: absolute;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}
body main .introduce h1::before {
  top: 0;
}
body main .introduce h1::after {
  bottom: 0;
}
body main .introduce p {
  font-size: 20px;
}
body main .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
body main .skills h1 {
  font-size: clamp(32px, 4vw, 56px);
  margin: 0 auto;
  max-width: 460px;
  padding: 16px 0;
  position: relative;
}
body main .skills h1::before, body main .skills h1::after {
  background-color: #e9d19c;
  content: "";
  height: 1px;
  left: 50%;
  margin: 0 auto;
  max-width: 200px;
  position: absolute;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}
body main .skills h1::before {
  top: 0;
}
body main .skills h1::after {
  bottom: 0;
}
body main .skills .cards-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 64px 0;
  width: 100%;
}
body main .skills .cards-container .card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
}
body main .skills .cards-container .card img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(6%) saturate(2271%) hue-rotate(345deg) brightness(111%) contrast(83%);
  height: 112px;
}
body main .skills .cards-container .card .image-reverse {
  transform: scaleX(-1);
}
body main .skills .cards-container .card .card-p {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main .skills .cards-container .card .card-p p:nth-child(1) {
  color: #eeeeee;
  font-size: 20px;
}
body footer {
  align-items: center;
  background-color: rgba(17, 17, 17, 0.9);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
  padding: 40px 10px;
}
body footer .socials {
  display: flex;
  gap: 16px;
  justify-content: center;
}
body footer .socials a img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7155%) hue-rotate(268deg) brightness(129%) contrast(87%);
  height: 32px;
}

@media only screen and (min-width: 768px) {
  body main .name-links .my-story {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  body header {
    justify-content: center;
  }
  body header .ham-menu,
  body header .off-screen-menu {
    display: none;
  }
  body header .email {
    display: none;
  }
  body header .header-nav {
    display: flex;
    gap: 16px;
  }
  body header .header-nav a {
    color: #eeeeee;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s ease;
  }
  body header .header-nav a:hover {
    color: #e9d19c;
  }
  body main .name-links .my-story {
    display: block;
  }
  body main .skills .cards-container {
    flex-direction: row;
    justify-content: center;
  }
  body main .skills .cards-container .card {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
