@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #202020;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "MedievalSharp", cursive;
}

body {
  background-color: #fcfcfc;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 6vw;
  position: relative;
}
body .creeping-leaves {
  height: 100%;
  inset: 44% 0 0 50%;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.1;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 4rem 0;
}
body header .introduce {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body header .introduce h1 {
  font-size: 32px;
  line-height: 0.8;
}
body header .introduce .domain {
  color: #2a7e3b;
  font-weight: 700;
}
body header .introduce .quote,
body header .introduce .author {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
  max-width: 40ch;
}
body header .socials {
  display: flex;
  gap: 8px;
  padding-top: 16px;
}
body header .socials img {
  display: block;
  height: 32px;
}
body .main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
body .main-container main h2 {
  margin-bottom: 32px;
}
body .main-container main .space {
  margin-bottom: 64px;
}
body .main-container .about p {
  font-size: 16px;
  font-weight: 400;
}
body .main-container .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
body .main-container .skills .skill-cube {
  backdrop-filter: blur(4px);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 8px;
  width: 112px;
}
body .main-container .skills .skill-cube img {
  border-radius: 8px 0 0 8px;
  height: 48px;
  object-fit: contain;
}
body .main-container .skills .skill-cube p {
  font-weight: 600;
  text-align: center;
}
body .main-container .projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .main-container .projects .card-project {
  max-width: 768px;
  padding: 8px;
  position: relative;
}
body .main-container .projects .card-project .papyrus {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
body .main-container .projects .card-project .card-title {
  display: flex;
}
body .main-container .projects .card-project .card-title .first-letter {
  color: red;
  font-size: 80px;
}
body .main-container .projects .card-project .card-title .next-letters {
  padding-top: 16px;
}
body .main-container .projects .card-project .card-title p {
  text-align: end;
}
body .main-container .projects .card-project .technology {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
body .main-container .projects .card-project .technology p {
  border: 1px solid #3e9b4f;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
}
body .main-container footer {
  text-align: center;
}

@media (min-width: 596px) {
  body .main-container main .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    gap: 8px;
  }
  body header {
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0;
    max-height: 100vh;
    padding: 6rem 0;
    position: sticky;
    top: 0;
    width: 48%;
  }
  body .main-container {
    padding: 6rem 0;
    width: 52%;
  }
}

/*# sourceMappingURL=style.css.map */
