$low-background: #f9f9f9;
$high-background: #fcfcfc;

$low-solid-background: #46a758;
$low-solid-background-rgb: rgb(70 167 88);
$high-solid-background: #3e9b4f;

$low-contrast-text: #646464;
$medium-contrast-text: #2a7e3b;
$high-contrast-text: #202020;

$low-interactive-component: #e9f6e9;
$medium-interactive-component: #daf1db;
$high-interactive-component: #c9e8ca;
