@use "colors";
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: colors.$high-contrast-text;
  text-decoration: none;
}

body {
  background-color: colors.$low-background;
  background-position: center center;
  background-size: cover;
  color: colors.$high-contrast-text;
  position: relative;
  .background-video {
    height: 100%;
    left: 50%; /* à 50%/50% du parent référent */
    object-fit: cover;
    opacity: 1;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 100%;
    z-index: -1;
  }
  .background-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  header {
    align-items: center;
    display: flex;
    height: 48px;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    right: 0;
    transition: background-color 0.8s ease;
    z-index: 1;
    .header-fog {
      background: linear-gradient(
        to bottom,
        colors.$high-background 30%,
        transparent 100%
      );
      backdrop-filter: blur(2px);
      content: "";
      height: 120px;
      left: 0;
      mask: linear-gradient(180deg, black 60%, rgba(0, 0, 0, 0));
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    .off-screen-menu {
      align-items: center;
      background-color: rgba(colors.$low-background-rgb, 0.8);
      backdrop-filter: blur(2px);
      border-left: 1px solid #e9d19c;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      max-width: 90vw;
      position: fixed;
      right: -90vw;
      top: 0;
      transition: 0.3s ease;
      width: 100%;
      a {
        font-size: 32px;
      }
    }
    .off-screen-menu.active {
      right: 0;
    }
    .ham-menu {
      background: none;
      border: none;
      height: 40px;
      margin-left: auto;
      position: relative;
      width: 30px;
      span {
        background-color: colors.$high-contrast-text;
        border-radius: 24px;
        height: 2px;
        left: 50%;
        position: absolute;
        right: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        width: 100%;
        &:nth-child(1) {
          top: 25%;
        }
        &:nth-child(3) {
          top: 75%;
        }
      }
    }
    .ham-menu.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .header-nav {
      display: none;
    }
  }
  header.visible::before {
    opacity: 1;
  }
  main {
    padding: 0 16px;
    .name-links {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: calc(100vh - 80px);
      padding: 72px 40px 50px 40px;
      .my-story {
        color: #e9d19c;
        display: none;
        font-family: MedievalSharp;
        font-size: 40px;
      }
      .my-name {
        font-size: 60px;
        line-height: 0.9;
        margin-top: auto;
        text-align: center;
      }
      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        a {
          background-color: rgba(colors.$high-interactive-component, 0.4);
          border: 1px solid #e9d19c;
          font-size: 24px;
          min-width: 226px;
          position: relative;
          text-align: center;
          transition: 0.3s ease;
          &::before {
            border: 1px solid #e9d19c;
            content: "";
            inset: 0;
            opacity: 0.4;
            margin: -8px;
            position: absolute;
          }
          &:hover {
            box-shadow: rgba(233, 209, 156, 0.4) 0px 0px 56px;
          }
        }
      }
    }
    .scroll-icon {
      border: 1px solid white;
      border-radius: 16px;
      height: 32px;
      margin: 0 auto;
      width: 16px;
      div {
        animation: scroll 2s infinite;
        background-color: white;
        border-radius: 1px;
        height: 5px;
        margin: 5px auto;
        width: 2px;
      }
    }
    @keyframes scroll {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    .introduce {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 64px auto 0 auto;
      max-width: 768px;
      text-align: center;
      h1 {
        color: #e9d19c;
        font-family: MedievalSharp;
        font-size: 32px;
      }
      p {
        font-size: 26px;
      }
    }
  }

  footer {
    align-items: center;
    background-color: rgba(colors.$high-background-rgb, 0.9);
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
    padding: 40px 10px;
    .socials {
      display: flex;
      gap: 16px;
      justify-content: center;
      a {
        img {
          filter: colors.$high-contrast-text-filter;
          height: 32px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    main {
      .name-links {
        .my-story {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    header {
      justify-content: center;
      .ham-menu,
      .off-screen-menu {
        display: none;
      }
      .header-nav {
        display: flex;
        gap: 16px;
        a {
          color: colors.$high-contrast-text;
          font-size: 24px;
          text-decoration: none;
          transition: 0.3s ease;
          &:hover {
            color: #e9d19c;
          }
        }
      }
    }
    main {
      .name-links {
        .my-story {
          display: block;
        }
      }
    }
  }
}
