@use "colors";
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: colors.$high-contrast-text;
  text-decoration: none;
}

.custom-title {
  color: #e9d19c;
  font-family: MedievalSharp;
  font-size: clamp(32px, 4vw, 56px);
  margin: 0 auto;
  max-width: 460px;
  padding: 16px 0;
  position: relative;
  text-align: center;
  &::before,
  &::after {
    background-color: colors.$colored-contrast-text;
    content: "";
    height: 1px;
    left: 50%;
    margin: 0 auto;
    max-width: 200px;
    position: absolute;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

body {
  background-color: colors.$low-background;
  background-position: center center;
  background-size: cover;
  color: colors.$medium-contrast-text;
  position: relative;
  .background-video {
    height: 100%;
    left: 50%; /* à 50%/50% du parent référent */
    object-fit: cover;
    opacity: 1;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 100%;
    z-index: -1;
  }
  .background-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  // -------- HEADER --------
  header {
    align-items: center;
    display: flex;
    height: 48px;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    right: 0;
    transition: background-color 0.8s ease;
    z-index: 1;
    .email {
      opacity: 0;
    }
    .header-fog {
      background: linear-gradient(
        to bottom,
        colors.$high-background 30%,
        transparent 100%
      );
      backdrop-filter: blur(2px);
      content: "";
      height: 120px;
      left: 0;
      mask: linear-gradient(180deg, black 60%, rgba(0, 0, 0, 0));
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    .off-screen-menu {
      align-items: center;
      background-color: rgba(colors.$low-background-rgb, 0.8);
      backdrop-filter: blur(2px);
      border-left: 1px solid #e9d19c;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      max-width: 90vw;
      position: fixed;
      right: -91vw;
      top: 0;
      transition: 0.3s ease;
      width: 100%;
      a {
        font-size: 32px;
      }
    }
    .off-screen-menu.active {
      right: 0;
    }
    .ham-menu {
      background: none;
      border: none;
      height: 40px;
      margin-left: auto;
      position: relative;
      width: 30px;
      span {
        background-color: colors.$high-contrast-text;
        border-radius: 24px;
        height: 2px;
        left: 50%;
        position: absolute;
        right: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        width: 100%;
        &:nth-child(1) {
          top: 25%;
        }
        &:nth-child(3) {
          top: 75%;
        }
      }
    }
    .ham-menu.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .header-nav {
      display: none;
    }
  }
  header.visible::before {
    opacity: 1;
  }
  // -------- HEADER --------

  // -------- MAIN --------
  main {
    padding: 0 24px;
    #about,
    #skills,
    #projects {
      scroll-margin-top: 104px;
    }
    .name-links {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: calc(100vh - 80px);
      padding: 72px 40px 50px 40px;
      .my-story {
        color: #e9d19c;
        display: none;
        font-family: MedievalSharp;
        font-size: 40px;
      }
      .my-name {
        color: colors.$high-contrast-text;
        font-family: MedievalSharp;
        font-size: 60px;
        line-height: 0.9;
        margin-top: auto;
        text-align: center;
      }
      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        a {
          background-color: rgba(colors.$high-interactive-component, 0.4);
          border: 1px solid #e9d19c;
          font-size: 24px;
          min-width: 226px;
          position: relative;
          text-align: center;
          transition: 0.3s ease;
          &::before {
            border: 1px solid #e9d19c;
            content: "";
            inset: 0;
            opacity: 0.4;
            margin: -8px;
            position: absolute;
          }
          &:hover {
            box-shadow: rgba(233, 209, 156, 0.4) 0px 0px 56px;
          }
        }
      }
    }
    .scroll-icon {
      border: 1px solid white;
      border-radius: 16px;
      height: 32px;
      margin: 0 auto;
      width: 16px;
      div {
        animation: scroll 2s infinite;
        background-color: white;
        border-radius: 1px;
        height: 5px;
        margin: 5px auto;
        width: 2px;
      }
    }
    @keyframes scroll {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    .introduce {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 64px auto;
      max-width: 768px;
      text-align: center;
      position: relative;
      p {
        font-size: 20px;
      }
    }
    .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      h1 {
        font-size: clamp(32px, 4vw, 56px);
        margin: 0 auto;
        max-width: 460px;
        padding: 16px 0;
        position: relative;
        &::before,
        &::after {
          background-color: colors.$colored-contrast-text;
          content: "";
          height: 1px;
          left: 50%;
          margin: 0 auto;
          max-width: 200px;
          position: absolute;
          right: 50%;
          transform: translate(-50%, -50%);
          width: 150px;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
      .cards-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 64px 0;
        width: 100%;
        .card {
          align-items: center;
          display: flex;
          justify-content: space-between;
          max-width: 300px;
          // min-width: 300px;
          width: 100%;
          img {
            filter: colors.$colored-contrast-text-filter;
            height: 112px;
          }
          .image-reverse {
            transform: scaleX(-1);
          }
          .card-p {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 16px;
            p {
              &:nth-child(1) {
                color: colors.$high-contrast-text;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .projects {
      margin: 0 auto;
      max-width: 1440px;
      .projects-container {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr;
        margin: 64px 0;
        .project-card {
          align-items: center;
          aspect-ratio: 1;
          border: 1px solid colors.$colored-contrast-text;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          .background-card {
            height: 100%;
            object-fit: cover;
            position: absolute;
            width: 100%;
            z-index: -1;
          }
          ul {
            align-items: center;
            display: flex;
            gap: 8px;
            padding-top: 8px;
            li {
              align-items: center;
              color: colors.$high-contrast-text;
              display: flex;
              gap: 8px;
              list-style: none;
              text-transform: uppercase;
              img {
                filter: colors.$high-contrast-text-filter;
              }
            }
          }
          .logo-container {
            bottom: 0;
            display: flex;
            height: 40%;
            justify-content: center;
            left: 0;
            max-height: 300px;
            padding-bottom: 8px;
            position: absolute;
            width: 100%;
            .project-logo {
              object-fit: contain;
              width: 60%;
            }
          }
        }
      }
    }
  }
  // -------- MAIN --------

  // -------- FOOTER --------
  footer {
    align-items: center;
    background-color: rgba(colors.$high-background-rgb, 0.9);
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
    padding: 40px 10px;
    .socials {
      display: flex;
      gap: 16px;
      justify-content: center;
      a {
        img {
          filter: colors.$high-contrast-text-filter;
          height: 32px;
        }
      }
    }
  }
}
// -------- FOOTER --------

@media only screen and (min-width: 768px) {
  body {
    main {
      .name-links {
        .my-story {
          display: block;
        }
      }
      .projects {
        .projects-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    header {
      justify-content: center;
      .ham-menu,
      .off-screen-menu {
        display: none;
      }
      .email {
        display: none;
      }
      .header-nav {
        display: flex;
        gap: 16px;

        a {
          color: colors.$high-contrast-text;
          font-size: 24px;
          text-decoration: none;
          transition: 0.3s ease;
          &:hover {
            color: #e9d19c;
          }
        }
      }
    }
    main {
      .name-links {
        .my-story {
          display: block;
        }
      }
      .skills {
        .cards-container {
          flex-direction: row;
          justify-content: center;
          .card {
            margin: 0;
          }
        }
      }
      .projects {
        .projects-container {
          .project-card {
            aspect-ratio: 1.5;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    main {
      .projects {
        .projects-container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
